@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IRANSans";
  src: url("./fonts/IRANSans/IRANSansWeb.woff2") format("woff2");
}
@font-face {
  font-family: "IRANSansFa";
  src: url("./fonts/IRANSans/IRANSansWeb\(FaNum\).woff2") format("woff2");
}
body {
  font-family: "IRANSansFa","IRANSans", sans-serif;
}

.ss02 {
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}

span {
  @apply text-xs;
  @apply font-bold;
}

@screen lg {
  span {
    @apply text-sm;
  }
}

@screen 2xl {
  span {
    @apply text-base;
  }
}

h1 {
  @apply text-xl;
  @apply font-bold;
}

@screen lg {
  h1 {
    @apply text-3xl;
  }
}

@screen 2xl {
  h1 {
    @apply text-4xl;
  }
}
